@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Detail";
    @model NewsPortal.Web.Models.UserData
}

<!-- Default Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary"> @Model.Email</h4>
    </div>
    <div class="card-body">
        @Model.Username
        @Model.FirstName
        @Model.LastName
        @Model.Level

    </div>
</div>