@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Change Password";
}

@model Gastronique.Domain.Entities.User.UChangePasswordData

@using (Html.BeginForm("ChangePassword", "Dashboard", Model, FormMethod.Post))
{

     <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
               <div class="row">
                    <div class="col-lg-7 mx-auto">
                         <div class="p-5">

                              <br>
                              <br>

                              <div class="text-center">
                                   <h1 class="h4 text-gray-900 mb-4">Change password</h1>
                              </div>
                              <br>

                              <form class="title">
                                   @Html.AntiForgeryToken()

                                   <div class="form-group">
                                        @Html.PasswordFor(a => Model.OldPassword, new { @class = "form-control", placeholder = "Current password" })

                                   </div>

                                   <div class="form-group">
                                        @Html.PasswordFor(a => Model.NewPassword, new { @class = "form-control", placeholder = "New password" })

                                   </div>

                                   <div class="form-group">
                                        @Html.PasswordFor(a => Model.ConfirmedPassword, new { @class = "form-control", placeholder = "Confirm password" })
                                   </div>
                                   <hr>

                                   @if (!ViewData.ModelState.IsValid)
                                   {
                                        <div class="alert alert-danger">
                                             <ul>
                                                  @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                                  {
                                                       <li>@error.ErrorMessage</li>
                                                  }
                                             </ul>
                                        </div>
                                   }
                                   @if (ViewBag.ConfirmationMessage != null)
                                   {
                                        <div>
                                             <div class="alert alert-success"> @ViewBag.ConfirmationMessage</div>
                                        </div>
                                   }
                                   @if (ViewBag.ErrorMessage != null)
                                   {
                                        <div>
                                             <div class="alert alert-danger"> @ViewBag.ErrorMessage</div>
                                        </div>
                                   }

                                   <button class="btn btn-primary btn-user btn-block" type="submit">
                                        Save
                                   </button>

                                   @Html.HiddenFor(a => Model.Id)

                              </form>
                              <br>
                              <br>

                         </div>
                    </div>
               </div>
          </div>
     </div>
}