@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "User Detail";
     @model Gastronique.Web.Models.UserData


}

<div class="card o-hidden border-0 shadow-lg my-5">
     <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
               <div class="col-lg-7 mx-auto">
                    <div class="p-5">
                         <br>
                         <br>

                         <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Account Details</h1>
                         </div>

                         <form class="title">
                              <div class="form-group row">
                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.LabelFor(a => a.FirstName)
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                               placeholder="First Name" name="First Name" value="@Model.FirstName" readonly>
                                   </div>


                                   <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.LabelFor(a => a.LastName)
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                               placeholder="Last Name" name="Last Name" value="@Model.LastName" readonly>
                                   </div>
                              </div>

                              <div class="form-group">
                                   @Html.LabelFor(a => a.Email)
                                   <input type="text" class="form-control form-control-user" id="exampleEmail"
                                          placeholder="Email" name="Email" value="@Model.Email" readonly>
                              </div>
                              <div class="form-group">
                                   @Html.LabelFor(a => a.Username)
                                   <input type="text" class="form-control form-control-user" id="exampleUsername"
                                          placeholder="Username" name="Username" value="@Model.Username" readonly>
                              </div>

                         </form>
                         <br>
                         <br>


                    </div>
               </div>
          </div>
     </div>
</div>