@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comments";
}

@model System.Collections.Generic.List<NewsPortal.Web.Models.UserData>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Comments</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Author</th>
                        <th>Post</th>
                        <th>Content</th>
                        <th>Date Added</th>

                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var comment in Model)
                    {
                        <tr>

                            <td>@comment.Id</td>
                            <td>@comment.FirstName</td>
                            <td>@comment.LastName</td>
                            <td>@comment.Username</td>
                            <td>@comment.Email</td>
                            <td>@comment.Level</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>