@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Post Detail";
    @model NewsPortal.Web.Models.PostData

}

<!-- Default Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary"> @Model.Title</h4>
    </div>
    <div class="card-body">
        @Model.Content
    </div>
</div>

<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
       role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Commentaries</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
        @foreach (var commentary in Model.Commentaries)
        {
            <div class="card-body">
                <strong>@commentary.Author</strong>
                @commentary.Content
            </div>
        }
    </div>
</div>

@using (Html.BeginForm("AddCommentary", "Commentary", FormMethod.Post))
{
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="col-lg-7 mx-auto">
                <div class="p-5">

                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Add a commentary!</h1>
                    </div>

                    <form class="title">
                        <div class="form-group">
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="exampleContent" placeholder="Content" name="Content" rows="4"></textarea>
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-primary btn-user btn-block" type="submit">
                            Add commentary
                        </button>
                        @Html.Hidden("PostId", Model.Id) <!-- Add a hidden input field for the post ID -->
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
}