@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit post";
}

@model NewsPortal.Web.Models.PostData

@using (Html.BeginForm("EditPost", "Admin", FormMethod.Post))
{
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="p-5">

                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Edit post</h1>
                        </div>
                        <br>

                        <form class="title">
                            <div class="form-group">
                                @Html.LabelFor(a => a.Title)
                                @Html.TextBoxFor(a => a.Title, new { @class = "form-control", placeholder = "Title" })
                                @Html.ValidationMessageFor(a => a.Title)

                                <br>

                                @Html.LabelFor(a => a.Category)
                                <select class="form-control" name="Category" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option value="Politics">Politics</option>
                                    <option value="Economy">Economy</option>
                                    <option value="Science">Science</option>
                                    <option value="Health">Health</option>
                                    <option value="Education">Education</option>
                                    <option value="Culture">Culture</option>
                                    <option value="Sports">Sports</option>
                                </select>
                                @Html.ValidationMessageFor(a => a.Category)


                                <div class="form-group">
                                    @Html.LabelFor(a => a.Content)
                                    @Html.TextBoxFor(a => a.Content, new { @class = "form-control", placeholder = "Content" })
                                    @Html.ValidationMessageFor(a => a.Content)

                                </div>
                            </div>

                            <hr>

                            <button class="btn btn-primary btn-user btn-block" type="submit">
                                Confirm and Save
                            </button>

                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.DateAdded)
                            @Html.HiddenFor(a => a.Author)


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
}