@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Posts";
}

@model System.Collections.Generic.List<NewsPortal.Domain.Entities.Post.PostMinimal>

<div class="container-fluid">

     <!-- Page Heading -->
     <h1 class="h3 mb-2 text-gray-800">Posts</h1>

     <!-- DataTales Example -->
     <div class="card shadow mb-4">
          <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
          </div>
          <div class="card-body">
               <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                         <thead>
                              <tr>
                                   <th>ID</th>
                                   <th>Title</th>
                                   <th>Content</th>
                                   <th>Category</th>
                                   <th>Author</th>
                                   <th>AuthorId</th>
                                   <th>DateAdded</th>
                                   <th></th>
                                   <th></th>

                              </tr>
                         </thead>

                         <tbody>
                              @foreach (var post in Model)
                              {
                                   string firstSentence = post.Content.Substring(0, Math.Min(post.Content.Length, 100)); // Extrage primele 100 de caractere
                                   int firstPeriodIndex = firstSentence.IndexOf('.'); // Găsește poziția primului punct
                                   if (firstPeriodIndex != -1) // Verifică dacă s-a găsit un punct
                                   {
                                        firstSentence = firstSentence.Substring(0, firstPeriodIndex + 1); // Extrage textul până la primul punct inclusiv
                                   }

                                   <tr>

                                        <td>@post.Id</td>
                                        <td>@post.Title</td>
                                        <td>
                                             @Html.Raw(firstSentence) <!-- Afiseaza prima frază din conținut -->
                                             @if (post.Content.Length > 100 && firstPeriodIndex != -1)
                                             {
                                                  <span>...</span>
                                             }
                                        </td>
                                        <td>@post.Category</td>
                                        <td>@post.Author</td>
                                        <td>@post.AuthorId</td>
                                        <td>@post.DateAdded</td>


                                        <td>
                                             <a href="@Url.Action("EditPost", "Admin", new { postId = post.Id })" class="btn btn-primary btn-user btn-primary">Edit</a>
                                        </td>
                                        <td>
                                             <form method="post" action="@Url.Action("DeletePost", "Admin", new { postId = post.Id })" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                                  <button type="submit" class="btn btn-primary btn-user btn-danger">Delete</button>
                                             </form>
                                        </td>
                                   </tr>
                              }

                         </tbody>
                    </table>
               </div>
          </div>
     </div>

</div>