@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Profile";
}

@model NewsPortal.Web.Models.UserData

@using (Html.BeginForm("EditProfile", "Dashboard", FormMethod.Post))
{
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="p-5">

                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Edit Profile</h1>
                        </div>

                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.LabelFor(a => a.FirstName)
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                    @Html.ValidationMessageFor(a => a.FirstName)

                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(a => a.LastName)
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(a => a.LastName)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Email)
                                @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(a => a.Email)

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(a => a.Username)
                                @Html.TextBoxFor(a => a.Username, new { @class = "form-control", placeholder = "Username" })
                                @Html.ValidationMessageFor(a => a.Username)

                            </div>


                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <ul>
                                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                        {
                                            <li>@error.ErrorMessage</li>
                                        }
                                    </ul>
                                </div>
                            }

                            <hr>

                            <button class="btn btn-primary btn-user btn-block" type="submit">
                                Save changes
                            </button>

                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.Level)

                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
}